<template>
    <div>
        <p>My name is {{ name }}</p>
        <input id="name" type="text" v-model="name">
        <button id="add" @click="add">Add</button>
        <button id="sub" @click="sub">Sub</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'Name',
                count: 0
            }
        },
        methods: {
            add() {
                this.count++
            },
            sub() {
                this.count--
            }
        }
    }
</script>
